<div class="top">
    <main>
        <h1>Angular</h1>
        <br>
        <header>Build an angular/angularjs application to display the offer and subscription information for a
            mock customer.</header>

        <br>
        <h5><u>Use the below example restful APIs:</u></h5>
        <p>
            <a href="https://selfcare-service.demo.melita.com/interview/api/offers">
                https://selfcare-service.demo.melita.com/interview/api/offers</a>
            <br>
            <a href="https://selfcare-service.demo.melita.com/interview/api/offers/100/subscriptions
        ">
                https://selfcare-service.demo.melita.com/interview/api/offers/100/subscriptions
            </a>
        </p>

        Give an estimate of when you can provide a deliverable. You will be assessed on:
        <ul>
            <li>timeliness</li>
            <li>functionality</li>
            <li>ux</li>
            <li>design</li>
        </ul>

        The following are considered as a bonus:
        <ul>
            <li>Use GIT for your version control</li>
            <li>You can use build tools to automate your project</li>
        </ul>
    </main>
</div>